name: Build and publish application

on:
  push:

env:
  BRANCH: ${{ github.ref_name }}

  #image names
  RANDOM_STRING: ping-pong-application
  PING_PONG: randomstring
  GREETER: greeter

jobs:
  build-publish:
    name: Build, Push, Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Form image tags
      - name: 'Form image names'
        run: |
          echo "IMAGE_TAG_RANDOM_STRING=${{ secrets.DOCKERHUB_USERNAME }}/$RANDOM_STRING:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV
          echo "IMAGE_TAG_PING_PONG=${{ secrets.DOCKERHUB_USERNAME }}/$PING_PONG:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV
          echo "IMAGE_TAG_GREETER=${{ secrets.DOCKERHUB_USERNAME }}/$GREETER:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV

      - name: Build and publish random string
        run: |-
          docker build -t $IMAGE_TAG_RANDOM_STRING ./PongOutput
          docker push $IMAGE_TAG_RANDOM_STRING
      
      - name: Build and publish ping pong
        run: |-
          docker build -t $IMAGE_TAG_PING_PONG .
          docker push $IMAGE_TAG_PING_PONG

      - name: Build and publish greeter
        run: |-
          docker build -t $IMAGE_TAG_GREETER ./greeter
          docker push $IMAGE_TAG_GREETER

      - name: Set up Kustomize
        uses: imranismail/setup-kustomize@v2

      - name: Use right image for random string
        run: kustomize edit set image EXCERSISES/RANDOM_STRING=$IMAGE_TAG_RANDOM_STRING
     
      - name: Use right image for ping pong
        run: kustomize edit set image EXCERSISES/PING_PONG=$IMAGE_TAG_PING_PONG

      - name: Use right image for greeter
        run: kustomize edit set image EXCERSISES/greeter=$IMAGE_TAG_GREETER

      - name: commit kustomization.yaml to GitHub
        uses: EndBug/add-and-commit@v9
        with:
          add: 'kustomization.yml'
          message: New version released ${{ github.sha }}