name: Build and publish application

on:
  push:

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_CLUSTER: dwk-cluster
  GKE_ZONE: europe-west1-b
  REGISTRY: europe-west1-docker.pkg.dev
  BRANCH: ${{ github.ref_name }}
  REPOSITORY: my-repository

  #image names
  RANDOM_STRING: zelhs/ping-pong-application
  PING_PONG: zelhs/randomstring
  GREETER: zelhs/greeter

jobs:
  build-publish:
    name: Build, Push, Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GKE_SA_KEY }}'

      - name: 'Set up Cloud SDK'
        uses: google-github-actions/setup-gcloud@v2

      - run: gcloud --quiet auth configure-docker $REGISTRY

      - name: 'Get GKE credentials'
        uses: 'google-github-actions/get-gke-credentials@v2'
        with:
          cluster_name: '${{ env.GKE_CLUSTER }}'
          project_id: '${{ env.PROJECT_ID }}'
          location: '${{ env.GKE_ZONE }}'

      # Form image tags
      - name: 'Form image names'
        run: |
          echo "IMAGE_TAG_RANDOM_STRING=$REGISTRY/$PROJECT_ID/$REPOSITORY/$RANDOM_STRING:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV
          echo "IMAGE_TAG_PING_PONG=$REGISTRY/$PROJECT_ID/$REPOSITORY/$PING_PONG:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV
          echo "IMAGE_TAG_GREETER=$REGISTRY/$PROJECT_ID/$REPOSITORY/$GREETER:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV

      - name: Build and publish random string
        run: |-
          docker build -t $IMAGE_TAG_RANDOM_STRING ./PongOutput
          docker push $IMAGE_TAG_RANDOM_STRING
      
      - name: Build and publish ping pong
        run: |-
          docker build -t $IMAGE_TAG_PING_PONG .
          docker push $IMAGE_TAG_PING_PONG

      - name: Build and publish greeter
        run: |-
          docker build -t $IMAGE_TAG_GREETER ./greeter
          docker push $IMAGE_TAG_GREETER

      - name: Set up Kustomize
        uses: imranismail/setup-kustomize@v2

      - name: Use right image for random string
        run: kustomize edit set image EXCERSISES/RANDOM_STRING=$IMAGE_TAG_RANDOM_STRING
     
      - name: Use right image for ping pong
        run: kustomize edit set image EXCERSISES/PING_PONG=$IMAGE_TAG_PING_PONG

      - name: Use right image for greeter
        run: kustomize edit set image EXCERSISES/greeter=$IMAGE_TAG_GREETER

      - name: commit kustomization.yaml to GitHub
        uses: EndBug/add-and-commit@v9
        with:
          add: 'kustomization.yml'
          message: New version released ${{ github.sha }}